.addIntervenantForm{
    width: 90%;
    margin: 20px auto;
    max-width: 400px;
}

.addIntervenant button{
    width: 100%;
}

.confirmIntervenant {
    text-align: center;
    font-weight: bolder;
}

.confirmIntervenant h1 {
    margin: 0.4em 0;
}

.numConfInt {
    padding-top: 15px;
}

.confirm-numero {
    padding-left: 0.8em;
    font-weight: bold;
    font-size: 1.3em; 
}

.add-mission-btn {
    height: 45px;
    width: 45px;
    float: left;
    text-align: center;
    color: #fff !important;
    font-size: 1.05em;
    border-radius: 50%;
    margin: 28px 10px 0px -5px;
    line-height: 32px;
}

.edit-mission-container {
    max-width: 80%;
    padding-bottom: 0;
}