<div ui-content-for="title">
    <span>Ajouter un intervenant</span>
</div>

<div class="scrollable">
    <div class="scrollable-content section addIntervenant">
        <form>
            <div class="form-group">
                <label>Corps de métier</label>
                <div>
                   <select ng-model="newIntervenant.metier" ng-options="s.libelle for s in metiers"></select>
                </div>
            </div>
            <div class="form-group input-group-lg">
                <label>N° de l'intervenant</label>
                <input type="number" class="form-control" ng-model="newIntervenant.numero" placeholder="Numéro de Intervenant" />
            </div>
            
            <div class="form-group input-group-lg">
                <button ng-click="launchCamera()" type="button" class="btn-primary btn-lg">
                    Ajouter une photo  
                    <i class="fa fa-camera"></i>
                </button>
            </div>
            <div>
                <img id="img-preview" style="max-height: 100px" />
            </div>
            
            <div class="btn-bottom-left" ng-show="!keyboardVisible">
                <div class="blue-bg">
                    <a href="#!/dashboard">
                      <i class="fa fa-arrow-left"></i>
                    </a>
                </div>
            </div>

            <div class="btn-bottom-right" ng-show="!keyboardVisible">
                <div class="green-bg">
                    <a ng-click="goToConfirmation()">
                        <i class="fa fa-check"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
