.addIntervenant form-group{
	border-bottom-style: groove;
	text-align: center;
	width: 100%;
}

.addIntervenant{
	background-color: #ffffff;
}


.addIntervenant label{
	font-size: 150%;
	text-align: center;
	width: 100%;
}

.addIntervenant select{
	height: 45px;
    line-height: 100px;
    font-size: 20px;
    width: 100%;
}

.addIntervenant button{
	width: 100%;
}

.confirmIntervenant {
	text-align: center;
	font-weight: bolder;
}

.numConfInt {
	padding-top: 20px;
}
