<div ui-content-for="title">
    <span>Ajouter un intervenant</span>
</div>

<div class="scrollable">
    <div class="scrollable-content section addIntervenant">
        <form class="addIntervenantForm">
            
            <div class="row">
                <div class="col-xs-5 col-md-5">
                    <div class="img-preview-container" ng-click="launchCamera()">
                        <img id="img-preview" ng-show="hasImg" />
                        <img ng-show="!hasImg" src="img/add-photo.png" />
                    </div>
                </div>
                <div class="col-xs-7 col-md-7">                
                    <div class="form-group input-group-lg">
                        <label>N° de l'intervenant</label>
                        <!-- TODO : rendre obligatoire -->
                        <input type="number" class="form-control huge-input" ng-model="newIntervenant.numero" placeholder="n°" min=1 max=999  />
                    </div>
                </div>
            </div>
 
            <div class="form-group">
                <label>Corps de métier</label>
                <div>
                    <select ng-model="newIntervenant.metier" ng-options="s.libelle for s in metiers">
                       <option label="Choisir le métier" selected="selected" disabled="disabled"></option>
                    </select>
                </div>
            </div>
            
            <div class="form-group">
                <label>Mission courante</label>
                <div>
                    <select ng-model="selectedMission" ng-options="m for m in missions">
                       <option label="Choisir une mission" selected="selected" disabled="disabled"></option>
                    </select>
                    <input type="text" ng-model="newSelectedMission" ng-show="selectedMission == '-- Autre --'"/>
                </div>
            </div>

        </form>

        
        <div class="btn-bottom-left" ng-show="!keyboardVisible">
            <div class="blue-bg">
                <a ng-click="cancelAddIntervenant()">
                  <i class="fa fa-arrow-left"></i>
                </a>
            </div>
        </div>

        <div class="btn-bottom-right" ng-show="!keyboardVisible">
            <div class="green-bg">
                <a ng-click="goToConfirmation()">
                    <i class="fa fa-check"></i>
                </a>
            </div>
        </div>
    </div>
</div>
