.addIntervenantForm{
    width: 90%;
    margin: 0 auto;
    max-width: 400px;
}

.addIntervenant button{
    width: 100%;
}

.confirmIntervenant {
    text-align: center;
    font-weight: bolder;
}

.numConfInt {
    padding-top: 20px;
}
