<div ui-content-for="title">
  <span>Modifier le personnel n°{{personnel.numero}}</span>
</div>

<div class="scrollable">
    <div class="scrollable-content section edit-victime">
        <form class="victimForm">
            <div class="form-group victimId">
                <label>N° de personnel</label>
                <input type="number" class="form-control" ng-model="personnel.numero" placeholder="Numéro"/>
            </div>
            <div class="form-group">
                <label>Mission courante</label>
                <div>
                    <h2>{{personnel.missions[personnel.missions.length - 1].libelle}}</h2>
                    <div class="green-bg">
                        <a ng-click="addMission = true">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                    <select ng-model="selectedMission" ng-options="m for m in missions" ng-show="addMission == true">
                       <option label="Nouvelle mission" selected="selected" disabled="disabled"></option>
                    </select>
                    <input type="text" ng-model="newSelectedMission" ng-show="selectedMission == '-- Autre --'"/>
                </div>
            </div>
        </form>

        <div class="center">
            <button type="button" class="btn btn-danger btn-block" ng-click="deletePersonnel()">
                <i class="fa fa-trash"></i>
                Supprimer ce personnel
            </button>
        </div>

        <div class="btn-bottom-left">
            <div class="blue-bg">
                <a ng-click="evacuatePersonnel()">
                    <i class="fa fa-sign-out"></i>
                </a>
            </div>
        </div>

        <div class="btn-bottom-right">
            <div class="green-bg">
                <a ng-click="confirm()">
                    <i class="fa fa-check"></i>
                </a>
            </div>
        </div>
    </div>
</div>
