<div ui-content-for="title">
  <span>Intervenant n°{{personnel.numero}}</span>
</div>

<div class="scrollable">
    <div class="scrollable-content section edit-victime">
        <form class="victimForm">
            <div class="row">
                <div class="col-xs-5 col-md-5">
                    <div class="img-preview-container" ng-click="launchCamera()">
                        <img ng-show="personnel.image" ng-src="{{personnel.image}}" />
                        <img ng-show="!personnel.image" src="img/add-photo.png" />
                    </div>
                </div>
                <div class="col-xs-7 col-md-7">                
                    <div class="form-group input-group-lg">
                        <label>N° de l'intervenant</label>
                        <!-- TODO : rendre obligatoire -->
                        <input type="number" class="form-control huge-input" ng-model="personnel.numero" placeholder="n°" min=1 max=999  />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Mission courante</label>
                <div>
                    <h2 class="inline-block">{{personnel.missions[personnel.missions.length - 1].libelle}}</h2>
                    <a ng-click="addMission = true" ng-show="!addMission" class="btn blue-bg white-text add-mission-btn">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <select ng-model="selectedMission" ng-options="m for m in missions" ng-show="addMission">
                       <option label="Nouvelle mission" selected="selected" disabled="disabled"></option>
                    </select>
                    <!-- TODO : cacher les boutons sur le keyboard est visible -->
                    <input type="text" class="large-input" ng-model="newSelectedMission" ng-show="selectedMission == '-- Autre --'"/>
                </div>
            </div>
            <div class="center btn-delete-victime">
                <button type="button" class="btn btn-default" ng-click="deletePersonnel()">
                    <i class="fa fa-trash"></i>
                    Supprimer l'intervenant
                </button>
            </div>
        </form>


        <div class="btn-bottom-left" ng-show="!keyboardVisible">
            <div class="blue-bg">
                <a ng-click="evacuatePersonnel()">
                    <i class="fa fa-sign-out"></i>
                </a>
            </div>
        </div>

        <div class="btn-bottom-right" ng-show="!keyboardVisible">
            <div class="green-bg">
                <a ng-click="confirm()">
                    <i class="fa fa-check"></i>
                </a>
            </div>
        </div>
    </div>
</div>
