<div ui-content-for="title">
    <span>Ajouter un intervenant</span>
</div>

<div class="scrollable">
    <div class="scrollable-content section addIntervenant">
        <form>
            <div class="form-group">
                <label>Corps de métier</label>
                <div>
                   <select ng-model="newIntervenant.corpsMetier" ng-options="s.libelle for s in metiers"></select>
                </div>
            </div>
            <div class="form-group input-group-lg">
                <label>N° de l'intervenant</label>
                <input type="number" class="form-control" ng-model="newIntervenant.numero" placeholder="Numéro de Intervenant" />
            </div>
            
            <div class="form-group input-group-lg">
                <button ng-click="launchCamera()" type="button" class="btn-primary btn-lg">Ajouter une photo  <i class="fa fa-camera" aria-hidden="true"></i></button>
            </div>
            <div>
                {{imageInt}}
            </div>
            

            
            <div class="btn-bottom-left" ng-show="!keyboardVisible">
                <div class="red-bg">
                    <a ng-click="deleteIntervenant()">
                      <i class="fa fa-remove" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <div class="btn-bottom-right" ng-show="!keyboardVisible">
                <div class="green-bg">
                    <a href="#!/confirmIntervenant">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

        </form>       
    </div>
</div>
