<div ui-content-for="title">
  <span>Avalanche</span>
</div>

<div class="scrollable">
  <div class="scrollable-content section home-bg">

    <div class="main">
      <ul>
        <li>
            <img  src="../../img/logo-avalanche.jpg" alt="Logo Avalanche" class="img-circle">
        </li>
        <li>
            <button ng-click="createOperation()" class="btn btn-primary btn-block nouvelle_operation">Créer une nouvelle opération</button>
        </li>
        <li>
          <button ng-click="historique()" class="btn btn-primary btn-block historique_operation">Historique des missions</button>
        </li>
      </ul>
    </div>

  </div>
</div>
