<div ui-content-for="title">
  <span>Ajouter une victime</span>
</div>

<div class="scrollable">
    <div class="scrollable-content section">
        <form>
            <div class="form-group">
                <label>N° de victime</label>
                <input type="number" class="form-control" ng-model="newVictime.numero" placeholder="Numéro de victime" />
            </div>
            <div class="form-group">
                <label>Statut de la victime</label>
                <select ng-model="newVictime.status" ng-options="s.libelle for s in victimeStatus"></select>
            </div>
            <div class="form-group">
                <label>Situation de la victime</label>
                <select ng-model="newVictime.situation" ng-options="s for s in victimeSituations"></select>
            </div>

            <div class="btn-bottom-left">
                <div class="blue-bg">
                    <a href="#!/dashboard">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                </div>
            </div>

            <div class="btn-bottom-right">
                <div class="green-bg">
                    <a ng-click="addVictime()">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </form>       
    </div>
</div>
