.victimForm {
    width: 90%;
    margin: 0 auto;
    max-width: 400px;
}

.victimId {
    margin-bottom: 2%;
}

.victimStatus {
    margin-bottom: 2%;
    width: 100%;
}

.victimSituation {
    margin-bottom: 2%;
    width: 100%;
}

.bg-icon {
    text-align: center;
    opacity: 0.1;
}

.bg-icon > i {
    vertical-align: middle;
    margin: 20px;
    font-size: 4em;
}

.btn-delete-victime {
    margin-top: 2.3em;
    float: right;
}

.btn-delete-victime button {
    color: #c10000;
    border-color: #c10000;
}

.add-victime-icon {
    max-height: 75px;
    max-width: 75px;
    margin: 20px 0 0 5px;
}