<div ui-content-for="title">
  <span>Modifier la victime n°{{victime.numero}}</span>
</div>

<div class="scrollable">
    <div class="scrollable-content section">
        <form>
            <div class="form-group">
                <label>N° de victime</label>
                <input type="number" class="form-control" ng-model="victime.numero" placeholder="Numéro de victime"/>
            </div>
            <div class="form-group">
                <label>Statut de la victime</label>
                <select ng-model="victime.status" ng-options="s.libelle for s in victimeStatus">
                </select>
            </div>

            <button type="button" class="btn btn-danger" ng-click="deleteVictime()">
                <i class="fa fa-plus"></i>
                Supprimer la victime
            </button>
        </form>

        <div class="btn-bottom-left">
            <div class="green-bg">
                <a ng-click="deleteVictime()">
                    <i class="fa fa-ambulance"></i>
                </a>
            </div>
        </div>

        <div class="btn-bottom-right">
            <div class="blue-bg">
                <a href="#!/victimes">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
</div>
