<div ui-content-for="title">
  <span>Modifier la victime n°{{victime.numero}}</span>
</div>

<div class="scrollable">
    <div class="scrollable-content section">
        <form class="victimForm">
            <div class="form-group victimId">
                <label>N° de victime</label>
                <input type="number" class="form-control" ng-model="victime.numero" placeholder="Numéro"/>
            </div>
            <div class="form-group victimStatus">
                <label>Statut de la victime</label>
                <select ng-model="victime.status" ng-options="s.libelle for s in victimeStatus"></select>
            </div>
            <div class="form-group victimSituation">
                <label>Situation de la victime</label>
                <select ng-model="victime.situation" ng-options="s for s in victimeSituations"></select>
            </div>
            <i class="fa fa-medkit" aria-hidden="true"></i>
        </form>

        <div class="center">
            <button type="button" class="btn btn-danger btn-block" ng-click="deleteVictime()">
                <i class="fa fa-trash"></i>
                Supprimer la victime
            </button>
        </div>

        <div class="btn-bottom-left">
            <div class="blue-bg">
                <a ng-click="evacuateVictime()">
                    <i class="fa fa-ambulance"></i>
                </a>
            </div>
        </div>

        <div class="btn-bottom-right">
            <div class="green-bg">
                <a href="#!/dashboard">
                    <i class="fa fa-check"></i>
                </a>
            </div>
        </div>
    </div>
</div>
