<div ui-content-for="title">
  <span>Opération en cours</span>
</div>

<div class="btn-group dropdown-menu-btn">
    <a ui-turn-on='myDropdown' class='btn'>
        <i class="fa fa-ellipsis-v fa-lg"></i>
    </a>
    <ul class="dropdown-menu"
        ui-outer-click="Ui.turnOff('myDropdown')"
        ui-outer-click-if="Ui.active('myDropdown')"
        role="menu"
        ui-show="myDropdown" 
        ui-state="myDropdown"
        ui-turn-off="myDropdown">
        <li><a ng-click="terminateOperation()">Terminer l'opération</a></li>
        <li class="divider"></li>
        <li><a ng-click="exitApp()">Fermer l'application</a></li>
    </ul>
</div> <!-- end drop-down-menu -->

<div class="scrollable">
    <div class="scrollable-content section dashboard" ui-swipe-left="nextTab()" ui-swipe-right="prevTab()">
        <div>
            
            <!-- boutons Onglets -->
            <div class="row tabs-container two-tabs">
                <div class="col-xs-6 tab" ng-class="{'active': activeTab == 1}" ng-click="goTab(1)">
                    {{nbActivePersonnels()}} intervenant<span ng-show="nbActivePersonnels() > 1">s</span>
                </div>
                <div class="col-xs-6 tab" ng-class="{'active': activeTab == 2}" ng-click="goTab(2)">
                    {{operation.victimes.length}} victime<span ng-show="operation.victimes.length > 1">s</span>
                </div>
            </div> <!-- fin boutons Onglets -->

            <!-- Onglet personnel -->
            <div ng-show="activeTab == 1">
                <div ng-if="nbActivePersonnels() == 0" class="empty-message">
                   Aucun personnel sur site actuellement 
                </div>
                <div class="row metier-container">
                    <div ng-repeat="m in metiers">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 card metier-card" ng-click="detailsMetier(m.libelle)">
                            <div class="row card-container" ng-style="{'background-color': m.bg, 'color': m.text}">
                                <div class="col-xs-12 card-content">
                                    <span class="metier-libelle">{{m.libelle}}</span>
                                    <span class="badge">{{nbPersonnels(m.libelle)}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn-bottom-left" ng-show="nbActivePersonnels() > 0">
                    <div class="red-bg">
                        <a ng-click="evacuatePersonnel()">
                            <i class="fa fa-minus"></i>
                        </a>
                    </div>
                </div>

                <div class="btn-bottom-right">
                    <div class="blue-bg">
                        <a href="#!/addIntervenant">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>

            </div> <!-- end onglet personnel -->

            <!-- Onglet victimes -->
            <div class="victimes-container" ng-show="activeTab == 2">        
                
                <div ng-if="(operation.victimes | filter: {situation: '!Évacuée'}).length == 0" class="empty-message">
                   Aucune victime présente sur site actuellement 
                </div>
                <div class="row">
                    <div ng-repeat="v in operation.victimes | orderBy: 'numero' | filter: {situation: '!Évacuée'}">               
                        <div class="col-lg-4 col-md-6 col-xs-12 card">
                            <div class="row card-container flex-center" ng-click="editVictime(v.numero)">
                                <div class="col-xs-2 victime-icon">
                                    <img src="img/victime.png" />
                                </div>
                                <div class="col-xs-3 center victime-number-container">
                                    <div class="victime-number-sup">Victime</div>
                                    <div class="victime-number">{{v.numero}}</div>
                                </div>
                                <div class="col-xs-7 card-content victime-details">
                                    <div class="italic center font-larger">{{v.situation}}</div>
                                    <div class="etat-victime" ng-style="{'background-color': v.status.bg, 'color': v.status.text}">{{v.status.libelle}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>
           
                <div ng-if="(operation.victimes | filter: {situation: 'Évacuée'}).length == 0" class="empty-message">
                   Aucune victime évacuée
                </div>
                <div class="row">
                    <div ng-repeat="v in operation.victimes | orderBy: 'numero' | filter: {situation: 'Évacuée'}">               
                       <div class="col-lg-4 col-md-6 col-xs-12 card">
                            <div class="row card-container flex-center" ng-click="editVictime(v.numero)">
                                <div class="col-xs-2 victime-icon">
                                    <img src="img/victime.png" />
                                </div>
                                <div class="col-xs-3 center victime-number-container">
                                    <div class="victime-number-sup">Victime</div>
                                    <div class="victime-number">{{v.numero}}</div>
                                </div>
                                <div class="col-xs-7 card-content victime-details">
                                    <div class="italic center font-larger">{{v.situation}}</div>
                                    <div class="etat-victime label" ng-style="{'background-color': v.status.bg, 'color': v.status.text}">{{v.status.libelle}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn-bottom-right">
                    <div class="blue-bg">
                        <a href="#!/victimes">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div> <!-- end btn-bottom-right --> 

            </div> <!-- end onglet victimes -->

        </div> <!-- end onglets -->

    </div> <!-- end section -->
</div> <!-- end scrollable -->
