<div ui-content-for="title">
  <span>Opération en cours</span>
</div>

<div class="scrollable">
    <div class="scrollable-content section">
        <div ui-state="activeTab" default="1">
          <ul class="nav nav-tabs two-tabs">
            <li ui-class="{'active': activeTab == 1}">
                <a ui-set="{'activeTab': 1}">
                    Intervenants 
                    <span ng-if="operation.personnels.length > 0">({{operation.personnels.length}})</span>
                </a>
            </li>
            <li ui-class="{'active': activeTab == 2}">
                <a ui-set="{'activeTab': 2}">
                    Victimes 
                    <span ng-if="operation.victimes.length > 0">({{operation.victimes.length}})</span>
                </a>
            </li>
          </ul>

          <!-- Onglet personnel -->
          <div ui-if="activeTab == 1">
            <div class="row">
                <div ng-repeat="organisme in organismes">
                    <div class="col-lg-4 col-md-6 col-xs-12 card">
                        <div class="row card-container" ng-style="{'background-color': organisme.color}">
                            <div class="col-xs-12 card-content">
                                <span class="card-title">
                                    <strong>{{organisme.name}}</strong>
                                </span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-bottom-left">
                <div class="red-bg">
                    <a ng-click="deleteIntervenant()">
                        <i class="fa fa-minus"></i>
                    </a>
                </div>
            </div>

            <div class="btn-bottom-right">
                <div class="blue-bg">
                    <a href="#!/addIntervenant">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
          </div>
          <!-- Onglet victimes -->
          <div ui-if="activeTab == 2">        
            <div class="row">
                <div ng-repeat="v in operation.victimes | orderBy: 'numero'">               
                    <div class="col-lg-4 col-md-6 col-xs-12 card">
                        <div class="row card-container">
                            <div class="col-xs-6 card-content" ng-click="editVictime(v.numero)">
                                <span class="card-title">
                                    <strong>Victime n°{{v.numero}}</strong>
                                </span>
                                <div class="etat-victime" ng-style="{'background-color': v.status.bg}">
                                    <span ng-style="{'color': v.status.text}">{{v.status.libelle}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--div class="btn-bottom-left">
                <div class="green-bg">
                    <a ng-click="deleteVictime()">
                        <i class="fa fa-ambulance"></i>
                    </a>
                </div>
            </div-->

            <div class="btn-bottom-right">
                <div class="blue-bg">
                    <a href="#!/victimes">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
          </div>
        </div>
    
        <hr/>

        <div>
            <button ng-click="terminate()">Terminer l'opération</button>
        </div>

        <button class="btn btn-primary btn-block" ng-click="launchCamera()">
            Prendre une photo
        </button>

        <img id='imagePreview' style="max-width:200px" />
    </div>
</div>
