
.card .victime-numero, .card .victime-etat {
    width: calc(100% - 70px);
    display: inline-block;
}

.card .card-content {
     padding-bottom: 0.5em;
}

.dropdown-menu-btn {
    position: absolute;
    z-index: 1100;
    top: -50px;
    right: 15px;
}

.dropdown-menu {
    right: 0;
    left:initial;
    top: 90%;
    right: -15px;
}

.dropdown-menu > li > a{
    font-size: 1.3em;
    line-height: 1.8em;  
}

.victime-number-container {
    padding-left: 10px;
    padding-right: 6px;
}

.victime-number-sup {
    margin-top: 9px;
    font-size: 0.7em;
}

.victime-number {
    margin-top: -8px;
    font-size: 2em;
    color: #2196f3;
}

.victime-icon {
    padding-left: 14px;
}

.victime-details {
    padding-left: 0px;
}

.victime-icon img {
    max-width: 40px;
}

.etat-victime {
    display: block;
    padding: .2em .6em .3em;
    font-size: 1em;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.badge {
    float: right;
    font-size: 15px;
}

.metier-container {
    margin-left: -3px;
    margin-right: -3px;
}

.metier-libelle {
    max-width: 70%;
    display: inline-block;
    text-shadow: 0px 0px 20px #888;
}

.metier-card {
    padding-left: 6px;
    padding-right: 6px;
}

.metier-card .card-content{
    padding-top: 1em;
    padding-bottom: 1em;
}