<div ui-content-for="title">
  <span>Paramètres</span>
</div>

<div class="scrollable">
  <div class="scrollable-content">
    <div class="section parametres">

      <div class="panel panel-default" >
        <div class="panel-heading">
          <h3 class="panel-title">Corps de métier intervenants</h3>
        </div>
        <div class="panel-body">
          <div class="row parametres-items">

            <div class="col-xs-6 col-md-3 parametres-item" ng-repeat="m in metiers">
              <button type="button" class="btn btn-lg full-width" ng-style="{'background-color': m.bg, 'color': m.text}">
                <div class="truncate">{{m.libelle}}</div> <i class="fa fa-pencil right" aria-hidden="true"></i>
              </button>
            </div>

            <div class="col-xs-6 col-md-3 parametres-item">
              <button  ui-turn-on="modalAddMetier" type="button" class="btn btn-lg full-width white-bg center" ng-click="addMetier()">
                <i class="fa fa-plus-circle left" aria-hidden="true"></i> Nouveau
              </button>
            </div>

          </div>
        </div>
      </div>

      <div class="panel panel-default" >
        <div class="panel-heading">
          <h3 class="panel-title">Etats d'une victime</h3>
        </div>
        <div class="panel-body">
          <div class="row parametres-items">

            <div class="col-xs-6 col-md-3 parametres-item" ng-repeat="vs in victimeStatus">
              <button type="button" class="btn btn-lg full-width" ng-style="{'background-color': vs.bg, 'color': vs.text}">
                <div class="truncate">{{vs.libelle}}</div> <i class="fa fa-pencil right" aria-hidden="true"></i>
              </button>
            </div>

            <div class="col-xs-6 col-md-3 parametres-item">
              <button type="button" class="btn btn-lg full-width white-bg center" ng-click="addVictimeStatus()">
                <i class="fa fa-plus-circle left" aria-hidden="true"></i> Nouveau
              </button>
            </div>

          </div>
        </div>
      </div>
      <!-- Overlay ajout fonction -->
      <div ui-content-for="modals">
        <div class="modal" ui-if='modalAddMetier' ui-state='modalAddMetier'>
          <div class="modal-backdrop in"></div>
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button class="close"
                ui-turn-off="modalAddMetier">&times;</button>
                <h4 class="modal-title">Ajouter un métier</h4>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group form-group-lg">
                    <label for="labelMetier">Intitulé métier</label>
                    <input type="text" class="form-control" id="labelMetier" placeholder="Intitulé métier" />
                  </div>
                  
                  <div class="form-group form-group-lg">
                    <label>Couleur associée</label>
                    <color-picker color="color" options="options" on-color-changed="colorChanged(newColor, oldColor)"></color-picker>
                  </div>

                  </form>
                </div>
                <div class="modal-footer center">
                  <button ui-turn-off="modalAddMetier" class="btn btn-default btn-lg min-width-40">
                    <i class="fa fa-times" aria-hidden="true"></i> &nbsp; Annuler
                  </button>
                  <button ui-turn-off="modalAddMetier" class="btn btn-primary btn-lg min-width-40">
                    <i class="fa fa-check" aria-hidden="true"></i> &nbsp; Valider
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      
      </div>

    </div>
  </div>
