.parametres-items {
    margin-left: -5px;
    margin-right: -5px;
}

.parametres-items .parametres-item {
    padding-left: 4px;
    padding-right: 4px;
}

.parametres-items .parametres-item .truncate {
    max-width: calc(100% - 20px);
    display: inline-block;
    font-size: 0.8em;
    margin-top: 6px;
    padding-bottom: 2px;
    line-height: 0.9em;
}

.parametres-items button.btn-lg {
    text-align: left;
    padding: 6px 12px 4px 12px;
}

.parametres-items button.btn-lg i.right {
    float: right;
    line-height: 24px;
    font-size: 0.9em;
}

.parametres-items button.btn-lg i.left {
    float: left;
    line-height: 24px;
    font-size: 0.9em;
}

.parametres button {
    margin-bottom: 0.5em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#picker {
    width: 200px;
    height: 200px
}

#slide {
    width: 30px;
    height: 200px
}

.selected-color {
    display: none;
}

.color-palette div {
    width: 50px;
    height: 50px;
    border: 1px solid #aaa;
}

.color-picker-container {
    text-align: center;
    box-shadow: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.color-palette {
    visibility: visible;
    opacity: 1;
    position: initial;
    max-width: 290px;
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 0.8em 1em;
    box-shadow: none;
}

.lang-items {
    margin-right: -5px;
    margin-left: -5px;
}

.lang-item {
    padding-left: 10px;
    padding-right: 10px;
}

.lang-item button {
    font-size: 1.2em;
}

