<div ui-content-for="title">
  <span>{{translation.parametres.title}}</span>
</div>

<div class="scrollable">
    <div class="scrollable-content">
        <div class="section parametres">

            <div class="panel panel-default" >
                <div class="panel-heading">
                  <h3 class="panel-title">{{translation.parametres.corpsMetier}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row parametres-items">

                        <div class="col-xs-6 col-md-3 parametres-item" ng-repeat="m in metiers">
                            <button ui-turn-on="modalModifyMetier" type="button" 
                                class="btn btn-lg full-width" ng-style="{'background-color': m.bg, 'color': m.text}" 
                                ng-click="updateLastClicked(m.libelle)">
                                <div class="truncate">{{m.libelle}}</div> 
                                <i class="fa fa-pencil right" aria-hidden="true"></i>
                            </button>
                        </div>

                        <div class="col-xs-6 col-md-3 parametres-item">
                            <button  ui-turn-on="modalAddMetier" type="button" 
                                class="btn btn-lg full-width white-bg center">
                                <i class="fa fa-plus-circle left" aria-hidden="true"></i> {{translation.parametres.new}}
                            </button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="panel panel-default" >
                <div class="panel-heading">
                    <h3 class="panel-title">{{translation.parametres.languageChoice}}</h3>
                </div>
                <div class="panel-body">
                    <div class="col-xs-6 col-md-3 parametres-item" ng-repeat="l in languages">
                        <button type="button" class="btn btn-lg full-width" ng-click="changeLanguage(l)">
                            <div>
                                <i class="fa fa-circle-o" ng-if="language.code != l.code"></i>
                                <i class="fa fa-check-circle-o" ng-if="language.code == l.code"></i>
                                {{l.intitule}}
                            </div> 
                        </button>
                    </div>
                </div>
            </div>

            <!-- Overlay ajout fonction -->
            <div ui-content-for="modals">

                <!-- Modale Ajouter métier-->
                <div class="modal" ui-if='modalAddMetier' ui-state='modalAddMetier'>
                    <div class="modal-backdrop in"></div>
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" ui-turn-off="modalAddMetier">&times;</button>
                                <h4 class="modal-title">
                                    {{translation.parametres.addMetier}}
                                </h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group form-group-lg">
                                        <label for="labelMetier">
                                            {{translation.parametres.metier}}
                                        </label>
                                        <input type="text" class="form-control" 
                                            id="labelMetier" placeholder="Intitulé métier" 
                                            ng-model="labelMetier" ng-required="true"/>
                                    </div>

                                    <div class="form-group form-group-lg">
                                        <label>
                                            {{translation.parametres.color}}
                                        </label>
                                        <div class="color-picker-container">
                                          <color-picker color="color" options="options"></color-picker>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer center">
                                <button ui-turn-off="modalAddMetier" class="btn btn-default btn-lg min-width-40">
                                    <i class="fa fa-times" aria-hidden="true"></i> &nbsp; {{translation.cancel}}
                                </button>
                                <button ui-turn-off="modalAddMetier" class="btn btn-primary btn-lg min-width-40" 
                                        ng-click="addMetier(color, labelMetier)">
                                    <i class="fa fa-check" aria-hidden="true"></i> &nbsp; {{translation.validate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div> <!-- end modale ajout métier -->

            <!-- Modale modifier métier-->
                <div class="modal" ui-if='modalModifyMetier' ui-state='modalModifyMetier'>
                    <div class="modal-backdrop in"></div>
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" ui-turn-off="modalModifyMetier">&times;</button>
                                <h4 class="modal-title">{{translation.parametres.updateMetier}}</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group form-group-lg">
                                        <label for="labelMetier">
                                            {{translation.parametres.métier}}
                                        </label>
                                        <input type="text" class="form-control" id="labelMetier"
                                            ng-model="lastClickedIndex" disabled/>
                                    </div>
                                  
                                    <div class="form-group form-group-lg">
                                        <label>
                                            {{translation.parametres.color}}
                                        </label>
                                        <div class="color-picker-container">
                                            <color-picker color="color" options="options" 
                                                on-color-changed="colorChanged(newColor, oldColor)">
                                            </color-picker>
                                        </div>
                                    </div>

                                    <div>
                                        <label>
                                            {{translation.parametres.deleteMetier}}
                                        </label>
                                        <button ui-turn-off="modalModifyMetier" 
                                            class="btn btn-default btn-lg min-width-40" 
                                            ng-click="removeMetier(lastClickedIndex)">
                                            {{translation.delete}}
                                        </button>
                                    </div>

                                </form>
                            </div>
                            <div class="modal-footer center">
                                <button ui-turn-off="modalModifyMetier" 
                                    class="btn btn-default btn-lg min-width-40">
                                    <i class="fa fa-times" aria-hidden="true"></i> &nbsp; {{translation.cancel}}
                                </button>
                                <button ui-turn-off="modalModifyMetier" 
                                    class="btn btn-primary btn-lg min-width-40" 
                                    ng-click="modifyMetier(color, lastClickedIndex)">
                                    <i class="fa fa-check" aria-hidden="true"></i> &nbsp; {{translation.validate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div> <!-- end modale modifier métier -->
              
            </div> <!-- end modals container -->

        </div> <!-- end section -->
    </div> <!-- end scrollable-content -->
</div> <!-- end scrollable -->
