<div ui-content-for="title">
    <span>Journal de l'opération</span>
</div>

<div class="scrollable">
    <div class="scrollable-content section">
        <div ng-if="!journal" class="empty-message">
           Aucune opération n'est en cours.
        </div>
        <div ng-if="journal">
            <button ng-click="exportPdf()" class="btn btn-primary btn-block">Export PDF</button>
        </div>

        <h3 class="header-mission">{{journal.nom}}</h3>
        <div class="contenu">
            <p>
                Opération débutée le {{journal.beginDate | date: 'dd/MM/yyyy à HH:mm'}}.
            </p>
            <p>
                Cette opération a impliqué : 
                <ul class="cr_nb_personnes">
                    <li>
                        <span class="bold">{{journal.nbVictimes}}</span> victime<span ng-if="journal.nbVictimes > 1">s</span>
                    </li>
                    <li>
                        <span class="bold">{{journal.nbPersonnels}}</span> personnel<span ng-if="journal.nbPersonnels > 1">s</span>
                    </li>
                </ul>
            </p>

            <div ng-repeat="e in journal.evenements | orderBy: 'date'" class="ev-journal">
                <div ng-class="{'alert-success': e.type == 'entrée', 'alert-danger': e.type == 'sortie'}">
                    {{e.texte}}
                </div>
            </div>
        </div>
    </div>
</div>
