<div class="scrollable">
  
  <a href="#!/" class="scrollable-header app-name flat-link">
    <img src="img/icon-sidebar.png" />
    Avalanche
  </a>

  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='uiSidebarLeft'>
      <a class="list-group-item" href="#!/home" ng-if="!hasOperation">
        <i class="fa fa-home fa-lg pull-left"></i> 
        <span>Accueil</span> 
        <i class="fa fa-chevron-right pull-right"></i> 
      </a>
      <a class="list-group-item" href="#!/dashboard" ng-if="hasOperation">
        <i class="fa fa-users fa-lg pull-left"></i> 
        <span>Opération en cours</span> 
        <i class="fa fa-chevron-right pull-right"></i> 
      </a>
      <a class="list-group-item" href="#!/journal" ng-if="hasOperation">
        <i class="fa fa-file-text fa-lg pull-left"></i> 
        <span>Journal de l'opération</span> 
        <i class="fa fa-chevron-right pull-right"></i> 
      </a>
      <a class="list-group-item" href="#!/historique">
        <i class="fa fa-calendar fa-lg pull-left"></i> 
        <span>Historique des opérations</span>
        <i class="fa fa-chevron-right pull-right"></i>
      </a>
      <a class="list-group-item" href="#!/parametres">
        <i class="fa fa-cog fa-lg pull-left"></i>
        <span>Paramètres</span>
        <i class="fa fa-chevron-right pull-right"></i>
      </a>
    </div>
  </div>
</div>
