
.ev-journal {
	padding-top: 10px;
}
.header-mission{
	background-color: rgb(33, 154, 243);
    text-align: center;
    color: white;
    border-radius: 0.3em;
    padding: 0.3em
}
.contenu{
	margin-left: 0.3em;
}
.cr_nb_personnes{
	list-style: none;
}

.cr_nb_personnes span{
	font-size: 1.3em;
	color:#0c77cc;
}