<div ui-content-for="title">
  <span>Historique des opérations</span>
</div>

<div class="scrollable">
    <div class="scrollable-content section">
        <div ng-if="journaux.length == 0" class="empty-message">
           Aucune opération passée n'est enregistrée.
        </div>

        <div ng-if="journaux.length > 0">
            <button ng-click="exportPdf()" class="btn btn-primary btn-block">Export PDF</button>
        </div>

        <div ng-repeat="j in journaux">
            <h3 class="header-mission" ng-click="select($index)">{{j.nom}}</h3>
            <div ng-if="isSelected($index)">
                <p>
                    Opération débutée le {{j.beginDate | date: 'dd/MM/yyyy à HH:mm'}}
                    et terminée le {{j.endDate | date: 'dd/MM/yyyy à HH:mm'}}
                </p>
                <p>
                    Cette opération a impliqué: 
                    <ul class="cr_nb_personnes">
                        <li>
                            <span class="bold">{{j.nbVictimes}}</span> victime<span ng-if="j.nbVictimes > 1">s</span>
                        </li>
                        <li>
                            <span class="bold">{{j.nbPersonnels}}</span> personnel<span ng-if="j.nbPersonnels > 1">s</span>
                        </li>
                    </ul>
                </p>
                <div ng-repeat="e in j.evenements | orderBy: 'date'" class="ev-journal">
                    <div ng-class="{'alert-success': e.type == 'entrée', 'alert-danger': e.type == 'sortie'}">
                        {{e.texte}}
                    </div>
                </div>
            </div>
            <hr/>
        </div>      
    </div>
</div>
